<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/angularjs/test12.html</title>
<link rel="stylesheet" href="../resources/css/bootstrap.css" />
<script src="../resources/js/angular.min.js"></script>
<script>
	var cafeApp=angular.module("cafeApp", []);
	
	cafeApp.controller("cafeCtrl", function($scope, $http){
		//페이지 로딩되는 시점에 실행되는 영역
		
		// url 에서 PageNum 추출
		function getPageNum(pageNum) {
		    var params = location.search.substr(location.search.indexOf("?") + 1);
		    var sval = "";
		    params = params.split("&");
		    for (var i = 0; i < params.length; i++) {
		        temp = params[i].split("=");
		        if ([temp[0]] == pageNum) { sval = temp[1]; }
		    }
		    return sval;
		}
		//페이지 번호 가져오기
		$scope.pageNum=getPageNum("pageNum");;
		if($scope.pageNum == ""){
			$scope.pageNum = 1;
		}
		//ajax 로 카페 글 목록을 요청
		$http({
			url:"/spring05/cafe/ajax_list.do",
			method:"get",
			params:{pageNum:$scope.pageNum}
		}).success(function(data){
			$scope.list=data;
			console.log($scope);
		});
		//ajax 로 카페 글 목록 페이징 처리를 위한 요청
		$http({
			url:"/spring05/cafe/ajax_paging_list.do",
			method:"get",
			params:{pageNum:$scope.pageNum}
		}).success(function(data){
			$scope.paging_list=data;
			var range = [];
			for(var i=data.startPageNum;i<=data.endPageNum;i++) {
			  range.push(i);
			}
			$scope.range = range;
		});
		//다음 페이지 버튼을 눌렀을 때 호출되는 함수
		$scope.next=function(){
			//ajax 로 카페 글 목록을 요청
			$http({
				url:"/spring05/cafe/ajax_list.do",
				method:"get",
				params:{pageNum:$scope.pageNum}
			}).success(function(data){
				console.log("/cafe/ajax_list.do:"+data);
				console.log($scope);
				$scope.list=data;
				
				$scope.pageNum=data[0].pageNum;
			});
			//ajax 로 카페 글 목록 페이징 처리를 위한 요청
			$http({
				url:"/spring05/cafe/ajax_paging_list.do",
				method:"get",
				params:{pageNum:$scope.pageNum}
			}).success(function(data){
				console.log("/cafe/ajax_paging_list.do:"+data);
				console.log($scope);
				$scope.paging_list=data;
				var range = [];
				for(var i=data[0].startPageNum;i<=data[0].endPageNum;i++) {
				  range.push(i);
				}
				$scope.range = range;
				
				$scope.pageNum=data[0].pageNum;
			});
		};
	});
</script>
</head>
<body ng-app="cafeApp">
	<div class="container" ng-controller="cafeCtrl">
		<h1>카페 글 목록 입니다.</h1>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>번호</th>
					<th>작성자</th>
					<th>제목</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tmp in list">
					<td>{{tmp.num}}</td>
					<td ng-bind="tmp.writer"></td>
					<td>{{tmp.title}}</td>
					<td ng-bind="tmp.viewCount"></td>
					<td ng-bind="tmp.regdate"></td>
				</tr>
			</tbody>
		</table>
		<div class="page-display">
			<ul class="pagination pagination-sm">
				<div ng-if="paging_list.startPageNum != 1">
					<li class="page-item"><a class="page-link" href="test12.html?pageNum={{paging_list.startPageNum-1}}" ng-click="next()">Prev</a></li>
				</div>
				<div ng-repeat="i in range" ng-model="i">
					<div ng-if="i == paging_list.pageNum">
						<li class="page-item active"><a class="page-link" href="test12.html?pageNum={{i}}" ng-click="next()">{{i}}</a></li>
					</div>
					<div ng-if="i != paging_list.pageNum" ng-model="i">
						<li class="page-item"><a class="page-link" href="test12.html?pageNum={{i}}" ng-click="next()">{{i}}</a></li>
					</div>
				</div>
				<div ng-if="paging_list.endPageNum < paging_list.totalPageCount">
					<li class="page-item"><a class="page-link" href="test12.html?pageNum={{paging_list.endPageNum+1}}" ng-click="next()">Next</a></li>
				</div>
			</ul>	
		</div>
	</div>
</body>
</html>